@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
  #login {
    width: 80vw;
  }

  #image {
    height: 100%;
    width: 30%;
    float: left;
  }

  #formm {
    float: right;
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  #login {
    width: 950px;
  }

  #image {
    float: left;
    width: 50%;
    height: 100%;
  }

  #formm {
    float: right;
    width: 50%;
  }
}